*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}

a button {
  cursor: pointer;  
}

header{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

header .container {
    width: 80%;
    margin: auto;
}

header .container 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
}

header .container 
.navbar .logo {
    font-size: 2rem;
    font-weight: 600;
}

header .container 
.navbar .logo span{
    color: #06AAE4;
}

header .container 
.navbar .navlinks ul{
    display: flex;
    justify-content: space-between;
}

header .container 
.navbar .navlinks ul li {
    margin-right: 40px;
    font-size: 1.2rem;
}

header .container 
.navbar .navlinks 
ul li a {
    text-decoration: none;
    color: #000;
}

header .container 
.navbar .navaccess button {
    cursor: pointer;
}

header .container 
.navbar .navaccess 
button.login{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
} 

header .container 
.navbar .navaccess 
button.signup{
    color: #fff;
    background-color: #06AAE4;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 30px;
}

header .container 
.navbar .menu {
    display: none;
}

header .container 
.navbar .mobile-links {
    display: none;
    width: 100%;
    background-color: #06AAE4;
    padding: 20px;
    /* border-radius: 10px; */
    position: absolute;
    top: 0px;
    right: 0px;
}

header .container 
.navbar .mobile-links 
.mobile-navlinks ul li {
    margin-bottom: 15px;
}

header .container 
.navbar .mobile-links 
.mobile-navlinks ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

header .container 
.navbar .mobile-links 
.mobile-navaccess button{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

header .container 
.navbar .mobile-links 
.mobile-navaccess .close-btn{
    position: absolute;
    top: 25px;
    right: 25px;
}

main .container {
    width: 80%;
    margin: auto;
}

main .container 
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 20px 0;
}

main .container 
.main-header .text {
    /* width: ; */
    flex-basis: 40%;
}

main .container 
.main-header .text h1 {
    line-height: 1.2;
    margin-bottom: 30px;
    margin: 20px auto;
}

main .container 
.main-header .text p{
    color: #829095;
    line-height: 1.4;
    margin-bottom: 40px;
}

main .container 
.main-header .signupfree 
a button{
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    background-color: #06AAE4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}


main .container 
.main-header .text h1 span {
    color: #06AAE4;
}

main .container 
.main-header .halfcircle{
    width: 300px;
    background: radial-gradient(50% 50% at 50% 50%, #56CFFB 0%, rgba(86, 207, 251, 0.00) 100%);
}   

main .container 
.main-header .halfcircle img{
    width: 100%;
}

section.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

section.sponsors img {
    width: 15%;
}

main .mobile-sponsors{
    display: none;
}

section.aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.aboutus .image {
    flex-basis: 40%;
    margin-right: 100px;
}

section.aboutus .image img {
    width: 100%;
}

section.aboutus .text {
    flex-basis: 60%;
}

section.aboutus .text h1 {
    font-size: 2.1rem;
    margin-bottom: 80px;
    position: relative;
}

section.aboutus .text h1::after{
    content: '';
    width: 100px;
    height: 1.5px;
    background-color: #06AAE4;
    position: absolute;
    bottom: 0;
    left: 0;
}

section.aboutus .text p{
    color: #829095;
    line-height: 1.8;
}

section.services{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 30px 0;
}

section.services .box {
    width: 30%;
    padding: 40px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

section.services .box .top {
    display: flex;
    justify-content: space-between;
}

section.services .box .top p {
    line-height: 1.7;
    width: 200px;
    font-size: 1.2rem;
}

section.services .box .top p span {
    color: #FFAD33;
    font-size: 2.2rem;
    font-weight: 600;
    /* display: block; */
    /* margin-bottom: 5px; */
}

section.services .box .top .lamp {
    background-color: #f2cd95;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

section.services .box .top .lamp img {
    width: 40px;
}

section.services .box .bottom p {
    color: #829095;
    line-height: 1.8;
    margin: 20px 0;
}

section.illustrations .rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}


.mobile-image1 {
    display: none;
}

.mobile-image3 {
    display: none;
}

section.illustrations .row-1 .text {
    width: 80%;
    margin-right: 70px;
}

section.illustrations .row-1 .text h1 {
    margin-bottom: 30px;
}

section.illustrations .row-1 .text p {
    line-height: 1.6;
}

section.illustrations .row-1 .image {
    width: 1100px;
}

section.illustrations .row-1 .image img {
    width: 100%;
}



section.illustrations .row-2 .image {
    width: 1100px;
    margin-right: 80px;

}

section.illustrations .row-2 .image img {
    width: 100%;
}

section.illustrations .row-2 .text {
    width: 80%;
}

section.illustrations .row-2 .text h2 {
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 60px;
}

section.illustrations .getintouch{
    background-color: #06AAE4;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
}

section.illustrations .row-3 .text {
    width: 80%;
}

section.illustrations .row-3 h2 {
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 60px;
}

section.illustrations .row-3 .image {
    width: 1100px;
    margin-left: 60px;
}

section.illustrations .row-3 .image img {
    width: 100%;
}


section.download {
    background-color: #04739A;
    margin-bottom: 20px;
    padding: 100px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

}

section.download .container{
    font-family: 'PT Sans', sans-serif;
    /* padding: 40px; */
    text-align: center;
    position: relative;
}

section.download .container h2 {
    font-size: 2rem;
    color: #fff;
}

section.download .container h2.app{
    font-size: 2.2rem;
    margin-top: 5px;
}


section.download .container h2 span{
    color: #06AAE4;
}   
.images {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 20px auto;
}
#coming-soon {
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #FFAD33;
    width: 200px;
    padding: 10px 5px;
    border: 4px solid #fff;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 200px;
    transform: rotate(-15deg);
}



section.feedbacks .container h1 {
    font-family: 'PT Serif Caption', serif;
    text-align: center;
    font-size: 2rem;
    margin: 50px 0 10px 0;
    position: relative;
}

section.feedbacks .container h1::after{
    content: "";
    background-color: #06AAE4;
    width: 200px;
    height: 1.5px;
    position: absolute;
    bottom: -5px;
    left: 500px;
    
}

section.feedbacks .container h1 span{
    font-family: 'PT Serif Caption', serif;
    color: #06AAE4;
}

section.feedbacks 
.container
.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

section.feedbacks 
.container
.boxes .box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
    /* border: 1px solid #829095; */
    width: 30%;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.feedbacks 
.container
.boxes .box h3 {
    color: #FFAD33;
    font-size: 5rem;
    margin-bottom: 0;
}

section.feedbacks 
.container
.boxes .box p {
    color: #829095;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
}




footer {
    color: #fff;
    background-color: #04739A;
    padding: 60px 0;
}

footer .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

footer .container .col-1{
    flex-basis: 30%;
}

footer .container .col-1 h1 {
    color: #fff;
    margin-bottom: 20px;
}
footer .container .col-1 h1 span{
    color: #06AAE4;
}


footer .container .col-1 p {
    line-height: 1.8;
    margin-bottom: 80px;
}


footer .container .col-1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

footer .container .col-1 ul li a {
    text-decoration: underline;
    color: #fff;
}

footer .container .col-1 ul li a:hover{
    color: #FFAD33;
}

footer .container .col-2 h2{
    color: #fff;
    position: relative;
    margin-bottom: 30px;
}

footer .container .col-2 h2::after{
    content: "";
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 2px;
    background-color: #FFAD33;
    /* color: #fff; */
    height: 1.5px;
    width: 100px;
}

footer .container .col-2 ul li {
    margin-bottom: 10px;
}

footer .container .col-2 ul li a {
    text-decoration: none;
    color: #fff;
}

footer .container .col-2 ul li a:hover {
    color: #FFAD33;
}

hr {
    color: #04739A;
    background-color: #04739A;
    width: 80%;
    margin: 50px auto;
}

footer p#Copyright {
    color: #fff;
    text-align: center;
    margin: auto;
}

footer p#Copyright span{
    color: #06AAE4;
}

footer .container .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container .col-3 p{
    width: 200px;
    text-align: center;
    color: #fff;
    background-color: #06AAE4;
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-bottom: 120px; */
}

footer .container .col-3 p a {
    text-decoration: none;
    color: #fff;
}

footer .container .col-3 .icons {
    text-align: right;
}
















